

#app {
  margin: 0;
}

#player {
  background-color: brown;
  height: 100vh;
  width: 400px !important;
  align-items: center;
  border-right: 5px;
  border-color: black;
}

#story {
  background-color: bisque;
  overflow-x: scroll;
  width: 100;
  
  
}